<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Categories</title>
        <script defer src="/static/js/AllCategories.js"></script>
    </head>

    <body>
        <!-- <h1><%= username %></h1> -->
        <h1>Category list</h1>
        <% category.forEach((category) => { %>
            <h3><%= category.name %></h3>
            <a href="<%= category.name %>"><%= category.name %></a>
       <% }) %>
    </body>
</html>