<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="/static/js/createCategory.js"></script>
</head>
<body>
    <p>Створити категорію</p>
    <form action="" method="POST" id="form">
        <input type="text" name="namee" placeholder="name" id="namee">
        <input type="textarea" name="discription" placeholder="description" id="description">
        <input type="text" name="image" id="image">
        <button type="submit">submit</button>
    </form>

</body>
</html>