<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="/static/js/createCategory.js"></script>
</head>
<body>
    <p>Створити категорію</p>
    <form action="" method="POST" id = 'form'>
        <input type="text" name="name" placeholder="name" id="title">
        <input type="textarea" name="discription" placeholder="description" id="description">
        <input type="text" name="image" id="src">
        <button type="submit" id ='submitButton'>submit</button>
    </form>
    <script src="/static/js/createCategory.js"></script>
</body>
</html>